body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dropzone__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vw;
}
.dropzone{
    text-align: center;
    padding: 40px;
    border: 2px black dashed;
    max-width: 400px;
}